.container {
    margin: 150px;
    .heading {
        margin: 10px 150px;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        div {
            .icon {
                border-radius: 50%;
                width: 250px;
                height: 250px;
                border: solid 5px black;
            }
        }
    }
    section {
        .projects {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        background-color: rgb(99, 38, 160);
        margin-top: 80px;
        padding: 20px;
        color: white;
        p {
            margin: 10px 25px;
        }
        border-radius: 15px;
        .project {
            text-align: center;
            margin: 20px;
            p {
                margin: 0;
            }
        }
    }
}
