@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(7, 0, 6);
  color: rgb(228, 228, 228);
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 1480px;
  margin: 0 auto;
}