@import "variables";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
    cursor: pointer;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        list-style: none;
        font-size: 1rem;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s ease;
        margin: 0 20px;
        cursor: pointer;
        &:hover {
          color: $primaryColor;
        }
      }
    }
    button {
      margin: 0 0 0 20px;
    }
  }
}

@media only screen and (max-width: 980px) {
  .navbar {
    div {
      ul {
        display: none;
      }
      button {
        margin: 0 0 0 20px;
      }
    }
  }
}
