// .service {

//     border: white solid 6px;
//     span {
//         font-size: 64px;
//         width: 64px
//     }
// }

.service {
  border: rgb(255, 0, 242) solid 6px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 30px;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  text-align: center;
  span {
    font-size: 64px;
    width: 64px;
    margin: 25px;
  }
  button {
    padding: 10px 35px;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-weight: 700;
    margin: 25px 0;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  &:hover {
    transform: scale(1.03);
    border: black 6px solid;
    background-color: rgb(247, 20, 255);
  }
}
