@import "../../../styles/_colors.scss";

.hero {
  background: url("/images/bg.png");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  .heroContent {
    padding: 8rem 0;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      .underline {
        color: $primary-color;
        text-decoration: underline;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    .icons {
      margin-bottom: 1rem;
      .icon {
        margin-right: 1.5rem;
        font-size: 3rem;
        color: $font-color;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          color: $primary-color;
          text-shadow: 0 0 1px $primary-color;
          transform: scale(1.1);
        }
      }
    }

    .buttons {
      button {
        margin-right: 25px;
        padding: 10px 55px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        color: white;
        background-color: $primary-color;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          box-shadow: 0 0 10px $primary-color;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
    height: 100vh;
    .heroContent {
      margin-bottom: 5rem 0;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
      .icons {
        .icon {
          font-size: 2.5rem;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        button {
          padding: 10px 20px;
        }
      }
    }
  }
}
