.heading {
    padding: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(24, 24, 24);
    justify-content: space-between;
    h1 {
        font-weight: 900;
    }
    p {
        font-size: 20px;
        margin: 0 15px;
    }
    .icon {
        border-radius: 50%;
        width: 350px;
        height: 350px;
        border: solid 10px white;
    }
    .socials {
        a {
            color: white;
            font-size: 40px;
            margin: 0 10px;
        }
        margin-top: 10px;
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        button {
            border: none;
            padding: 15px 10px;
            border-radius: 25px;
            margin: 15px;
            font-size: 18px;
            background-color: transparent;
            border: solid 2px rgb(138, 0, 202);
            color: rgb(174, 0, 255);
            &:hover {
                background-color: rgb(174, 0, 255);
                color: white;
            }
        }
    }
}
.section {
    .projects {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    font-size: larger;
    margin-top: 80px;
    padding: 20px;
    color: white;
    p {
        margin: 10px 25px;
    }
    border-radius: 15px;
    .project {
        text-align: center;
        margin: 10px;
        p {
            margin: 0;
        }
    }

    .furdevs {
        display: flex;
        justify-content: space-around;
        text-align: left;
        flex-direction: row;
        font-size: 18px;
        ul {
            li {
                margin: 10px 0;
                font-size: 15px;
            }
        }
        div {
            margin: 25px;
        }
        color: white;
        a {
            color: plum;
        }
    }

    .stats {
        justify-content: center;
        text-align: center;
        padding: 20px;
        align-items: center;
        div {
            margin: 15px;
            display: flex;
            justify-content: center;
            img {
                margin: 0 10px;
            }
        }
    }
}
