.project {
    text-align: center;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h3{
        font-size: 25px;
    }
    p {
        margin: 0;
    }
    img{
        margin: 25px 0 !important;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-color: black;
        border: solid 5px black
    }
    i{
        font-size: 35px;
        color: black
    }
}
